/* Hides the elements with the classes mpy-config, mpy-script, py-config, and py-script */
mpy-config,mpy-script,py-config,py-script {
   display: none;
}

/* Adds padding of 20 pixels to the elements with the classes mpy-editor-box and py-editor-box */
.mpy-editor-box, .py-editor-box {
   padding: 20px;
}

/* Positions the elements with the classes mpy-editor-input and py-editor-input relative to their normal flow of content */
.mpy-editor-input, .py-editor-input {
   position: relative;
}

/* Adds a content before the elements with the classes mpy-editor-box and py-editor-box, displaying the value of the 'data-env' attribute, and aligns the content to the end */
.mpy-editor-box:before, .py-editor-box:before {
   content: attr(data-env);
   display: block;
   font-size: x-small;
   text-align: end;
}

/* Specifies that the elements with the classes mpy-editor-output and py-editor-output should preserve whitespace */
.mpy-editor-output, .py-editor-output {
   white-space: pre;
}

/* Positions the elements with the classes mpy-editor-run-button and py-editor-run-button absolutely, with a bottom offset of 0.5rem and a right offset of 0.5rem */
.mpy-editor-run-button, .py-editor-run-button {
   bottom: 0.5rem;
   opacity: 0;
   position: absolute;
   right: 0.5rem;
   transition: opacity .25s;
   z-index: 1;
}

/* Increases the opacity of the elements with the classes mpy-editor-run-button and py-editor-run-button when their parent element is being hovered over or when they are disabled or in focus */
.mpy-editor-box:hover .mpy-editor-run-button,
.mpy-editor-run-button:disabled,
.mpy-editor-run-button:focus,
.py-editor-box:hover .py-editor-run-button,
.py-editor-run-button:disabled,
.py-editor-run-button:focus {
   opacity: 1;
}

/* Defines a keyframe animation named spinner that rotates the element 1 turn */
@keyframes spinner {
   to {
      transform: rotate(1turn);
   }
}

/* Hides the content of the elements within the disabled elements with the classes mpy-editor-run-button and py-editor-run-button */
.mpy-editor-run-button:disabled > *,
.py-editor-run-button:disabled > * {
   display: none;
}

/* Removes border width from the elements with the classes mpy-editor-run-button and py-editor-run-button when they are disabled */
.mpy-editor-run-button:disabled,
.py-editor-run-button:disabled {
   border-width: 0;
}

/* Adds a spinner animation to the elements with the classes mpy-editor-run-button and py-editor-run-button when they are disabled, creating a rotating circle with a specified appearance */
.mpy-editor-run-button:disabled:before,
/*py-editor-run-button:disabled:before*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}