.background {
  background-image: url('spcae.gif');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
@font-face {
  src: url(Merkur-j147.otf);
  font-family: Merkur-j147;
}
.paragraph{
  font-family: Merkur-j147;
}
.body{
  font-family: Merkur-j147;
}
.head{
  font-family: Merkur-j147;
}
